@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import url("https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css");
@import url("https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css");

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.urbanist{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}


.overflow-hidden:hover .animate-marquee {
  animation-play-state: paused;
}
